/* stylesheet */

// game theme colors
$game-theme-1a: #0E5923;
$game-theme-1b: #8ED358;
$game-theme-1c: #FFF9EC;
$game-theme-1d: #F97D41;
$game-theme-1e: #E9BB4F;

// game fonts
$game-headerfont-color: $game-theme-1b;
$game-hdr-font: 'Rammetto One', cursive;
$game-lead-font: 'Lobster', cursive;

* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/intersection.png");
  header {
    color: $game-headerfont-color;
    font-weight: bold;
    img {
      position: absolute;
      top: 2%;
      right: 10%;
      width: 25%;
      height: 25%;
    }
  }
  h1 {
    font-family: $game-hdr-font;
  }
  .custom-h5 {
    /* height: 120%; */
    font-size: 120%;
    display: inline-block;
  }
  .game-hdr-bg {
    background-color: $game-theme-1a;
  }
  .lead {
    font-family: $game-lead-font;
    font-size: 180%;
    -ms-transform: rotateZ(-8deg); /* IE 9 */
    -webkit-transform: rotateZ(-8deg); /* Safari 3-8 */
    transform: rotateZ(-8deg);
  }
  .custom-card { 
    height: 400px;
    .game-btn {
      position: absolute;
      color: $game-theme-1c;
      background-color: $game-theme-1a;
      border: 2px solid $game-theme-1b;
      border-radius: .25rem;
      top: 350px;
      left: 30px;
    }
    .game-btn:hover {
      background-color: $game-theme-1c;
      color: $game-theme-1a;
      font-weight: bold;
    }
  
    .bg-card {
    background-color: $game-theme-1e;
      .bg-title {
        background-color: $game-theme-1c;
      }
    }
    .p-card {
      font-weight: bold;
    }
    #hangmanWord {
      // display: inline-block;
      // z-index: 3;
      position: absolute;
      top: 120px;
      font-weight: bold;
      font-size: 200%;
      letter-spacing: 5px;
    }
    #randomFacts {
      font-weight: bold;
    }
    #wonMsg {
      position: absolute;
      top: 235px;
      color: $game-theme-1a;
      font-weight: bold;
      font-size: 180%;
    }
    #wrongSection {
      display: inline-block;
      position: absolute;
      top: 180px;
      font-weight: bold;
    }
    #numWrong {
      display: inline-block;
      position: absolute;
      top: 215px;
      font-weight: bold;
    }
    #wrongList {
      position: absolute;
      top: 210px;
      font-weight: bold;
      letter-spacing: 3px;
      margin-bottom: 2%;
      p {
        color: red;
        text-shadow: 2px 2px black;
      }
    }
    #errorMsg {
      position: absolute;
      top: 240px;
      font-weight: bold;
      color: red;
      text-shadow: 1px 1px black;
    }
    #randomImg {
      img {
        width: 50%;
        height: 50%;
        float: left;
      }
    }
    #scores {
      position: absolute;
      top: 270px;
      ul {
        margin-left: -30px;
      }
      li {
        list-style-type: none;
        display: inline-block;
        margin-right: 8px;
      }
      text-decoration: none;
      background-color: $game-theme-1b;
      color: $game-theme-1a;
      font-weight: bold;
      margin-bottom: 4px;
    }
  }

}