/* stylesheet */

// game theme colors
$game-theme-1a: #0E5923;
$game-theme-1b: #8ED358;
$game-theme-1c: #FFF9EC;
$game-theme-1d: #F97D41;
$game-theme-1e: #E9BB4F;

// game fonts
$game-headerfont-color: $game-theme-1b;
$game-hdr-font: 'Rammetto One', cursive;
$game-lead-font: 'Lobster', cursive;

* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/intersection.png");
  header {
    color: $game-headerfont-color;
    font-weight: bold;
    img {
      position: absolute;
      top: 2%;
      right: 10%;
    }
  }
  h1 {
    font-family: $game-hdr-font;
  }
  h5 {
    height: 120%;
    display: inline-block;
    margin-right: 10px;
  }
  .game-hdr-bg {
    background-color: $game-theme-1a;
  }
  .game-btn {
    color: $game-theme-1c;
    background-color: $game-theme-1a;
   // border-color: $game-theme-1b;
  //  border-width: 2px solid $game-theme-1b;
    border: 2px solid $game-theme-1b;
  //  padding: .375rem .75rem;
  //  font-size: 1rem;
  //  line-height: 1.5;
    border-radius: .25rem;
  //  transition: color .15s ease-in-out,$game-theme-1b .15s ease-in-out,$game-theme-1a .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .game-btn:hover {
    background-color: $game-theme-1c;
    color: $game-theme-1a;
    font-weight: bold;
  }
  .lead {
    font-family: $game-lead-font;
    font-size: 180%;
    -ms-transform: rotateZ(-8deg); /* IE 9 */
    -webkit-transform: rotateZ(-8deg); /* Safari 3-8 */
    transform: rotateZ(-8deg);
  }
  .card .card-body {
    background-color: $game-theme-1e;
    .card-title {
      background-color: $game-theme-1c;
      height: 120%;
    }
  }
  #hangmanWord {
    font-weight: bold;
    font-size: 300%;
    letter-spacing: 3px;
  }
  #wrongSection {
    display: inline-block;
    font-weight: bold;
  }
  #numWrong {
    display: inline-block;
    font-weight: bold;
  }
  #wrongList {
    margin-bottom: 2%;
  }

}