/* stylesheet */
* {
  box-sizing: border-box; }

body {
  background-image: url("../images/intersection.png"); }
  body header {
    color: #8ED358;
    font-weight: bold; }
    body header img {
      position: absolute;
      top: 2%;
      right: 10%;
      width: 25%;
      height: 25%; }
  body h1 {
    font-family: "Rammetto One", cursive; }
  body h5 {
    height: 120%;
    display: inline-block;
    margin-right: 10px; }
  body .game-hdr-bg {
    background-color: #0E5923; }
  body .game-btn {
    color: #FFF9EC;
    background-color: #0E5923;
    border: 2px solid #8ED358;
    border-radius: .25rem; }
  body .game-btn:hover {
    background-color: #FFF9EC;
    color: #0E5923;
    font-weight: bold; }
  body .lead {
    font-family: "Lobster", cursive;
    font-size: 180%;
    -ms-transform: rotateZ(-8deg);
    /* IE 9 */
    -webkit-transform: rotateZ(-8deg);
    /* Safari 3-8 */
    transform: rotateZ(-8deg); }
  body .card .bg-card {
    background-color: #E9BB4F; }
    body .card .bg-card .bg-title {
      background-color: #FFF9EC; }
  body .p-card {
    font-weight: bold; }
  body #randomFacts {
    font-weight: bold; }
  body #hangmanWord {
    display: inline-block;
    z-index: 3;
    font-weight: bold;
    font-size: 200%;
    letter-spacing: 5px; }
  body #wonMsg {
    color: #0E5923;
    font-weight: bold;
    font-size: 180%; }
  body #wrongSection {
    display: inline-block;
    font-weight: bold; }
  body #numWrong {
    display: inline-block;
    font-weight: bold; }
  body #wrongList {
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 2%; }
    body #wrongList p {
      color: red;
      text-shadow: 2px 2px black; }
  body #errorMsg {
    font-weight: bold;
    color: red;
    text-shadow: 1px 1px black; }
  body #randomImg img {
    width: 50%;
    height: 50%;
    float: left; }
  body #scores {
    text-decoration: none;
    background-color: #8ED358;
    color: #0E5923;
    font-weight: bold;
    margin-bottom: 4px; }
    body #scores ul {
      margin-left: -30px; }
    body #scores li {
      list-style-type: none;
      display: inline-block;
      margin-right: 8px; }
