/* stylesheet */

// game theme colors
$game-theme-1a: #0E5923;
$game-theme-1b: #8ED358;
$game-theme-1c: #FFF9EC;
$game-theme-1d: #F97D41;
$game-theme-1e: #E9BB4F;

// game fonts
$game-headerfont-color: $game-theme-1b;
$game-hdr-font: 'Rammetto One', cursive;
$game-lead-font: 'Lobster', cursive;

* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/intersection.png");
  header {
    color: $game-headerfont-color;
    font-weight: bold;
    img {
      position: absolute;
      top: 2%;
      right: 10%;
      width: 25%;
      height: 25%;
    }
  }
  h1 {
    font-family: $game-hdr-font;
  }
  h5 {
    height: 120%;
    display: inline-block;
    margin-right: 10px;
  }
  .game-hdr-bg {
    background-color: $game-theme-1a;
  }
  .game-btn {
    color: $game-theme-1c;
    background-color: $game-theme-1a;
   // border-color: $game-theme-1b;
  //  border-width: 2px solid $game-theme-1b;
    border: 2px solid $game-theme-1b;
  //  padding: .375rem .75rem;
  //  font-size: 1rem;
  //  line-height: 1.5;
    border-radius: .25rem;
  //  transition: color .15s ease-in-out,$game-theme-1b .15s ease-in-out,$game-theme-1a .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .game-btn:hover {
    background-color: $game-theme-1c;
    color: $game-theme-1a;
    font-weight: bold;
  }
  .lead {
    font-family: $game-lead-font;
    font-size: 180%;
    -ms-transform: rotateZ(-8deg); /* IE 9 */
    -webkit-transform: rotateZ(-8deg); /* Safari 3-8 */
    transform: rotateZ(-8deg);
  }
  .card { 
    height: 300px;
    .bg-card {
    background-color: $game-theme-1e;
      .bg-title {
        background-color: $game-theme-1c;
      // height: 100%;
      }
    }
    #hangmanWord {
      display: inline-block;
      z-index: 3;
      font-weight: bold;
      font-size: 200%;
      letter-spacing: 5px;
    }
  }
  .p-card {
    font-weight: bold;
  }
  #randomFacts {
    font-weight: bold;
  }

  #wonMsg {
    color: $game-theme-1a;
    font-weight: bold;
    font-size: 180%;
  }
  #wrongSection {
    display: inline-block;
    font-weight: bold;
  }
  #numWrong {
    display: inline-block;
    font-weight: bold;
  }
  #wrongList {
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 2%;
    p {
      color: red;
      text-shadow: 2px 2px black;
    }
  }
  #errorMsg {
    font-weight: bold;
    color: red;
    text-shadow: 1px 1px black;
  }
  #randomImg {
    img {
      width: 50%;
      height: 50%;
      float: left;
    }
  }
  #scores {
//    box-sizing: border-box;
    ul {
      margin-left: -30px;
    }
    li {
      list-style-type: none;
      display: inline-block;
      margin-right: 8px;
    }
    text-decoration: none;
    background-color: $game-theme-1b;
    color: $game-theme-1a;
    font-weight: bold;
    margin-bottom: 4px;
  }

}