/* stylesheet */
* {
  box-sizing: border-box; }

body {
  background-image: url("../images/intersection.png"); }
  body header {
    color: #8ED358;
    font-weight: bold; }
    body header img {
      position: absolute;
      top: 2%;
      right: 10%;
      width: 25%;
      height: 25%; }
  body h1 {
    font-family: "Rammetto One", cursive; }
  body .custom-h5 {
    /* height: 120%; */
    font-size: 120%;
    display: inline-block; }
  body .game-hdr-bg {
    background-color: #0E5923; }
  body .lead {
    font-family: "Lobster", cursive;
    font-size: 180%;
    -ms-transform: rotateZ(-8deg);
    /* IE 9 */
    -webkit-transform: rotateZ(-8deg);
    /* Safari 3-8 */
    transform: rotateZ(-8deg); }
  body .custom-card {
    height: 400px; }
    body .custom-card .game-btn {
      position: absolute;
      color: #FFF9EC;
      background-color: #0E5923;
      border: 2px solid #8ED358;
      border-radius: .25rem;
      top: 350px;
      left: 30px; }
    body .custom-card .game-btn:hover {
      background-color: #FFF9EC;
      color: #0E5923;
      font-weight: bold; }
    body .custom-card .bg-card {
      background-color: #E9BB4F; }
      body .custom-card .bg-card .bg-title {
        background-color: #FFF9EC; }
    body .custom-card .p-card {
      font-weight: bold; }
    body .custom-card #hangmanWord {
      position: absolute;
      top: 120px;
      font-weight: bold;
      font-size: 200%;
      letter-spacing: 5px; }
    body .custom-card #randomFacts {
      font-weight: bold; }
    body .custom-card #wonMsg {
      position: absolute;
      top: 235px;
      color: #0E5923;
      font-weight: bold;
      font-size: 180%; }
    body .custom-card #wrongSection {
      display: inline-block;
      position: absolute;
      top: 180px;
      font-weight: bold; }
    body .custom-card #numWrong {
      display: inline-block;
      position: absolute;
      top: 215px;
      font-weight: bold; }
    body .custom-card #wrongList {
      position: absolute;
      top: 210px;
      font-weight: bold;
      letter-spacing: 3px;
      margin-bottom: 2%; }
      body .custom-card #wrongList p {
        color: red;
        text-shadow: 2px 2px black; }
    body .custom-card #errorMsg {
      position: absolute;
      top: 240px;
      font-weight: bold;
      color: red;
      text-shadow: 1px 1px black; }
    body .custom-card #randomImg img {
      width: 50%;
      height: 50%;
      float: left; }
    body .custom-card #scores {
      position: absolute;
      top: 270px;
      text-decoration: none;
      background-color: #8ED358;
      color: #0E5923;
      font-weight: bold;
      margin-bottom: 4px; }
      body .custom-card #scores ul {
        margin-left: -30px; }
      body .custom-card #scores li {
        list-style-type: none;
        display: inline-block;
        margin-right: 8px; }
